In [5]:
#26 Create a function that takes a number x and a character y ("m" for male, "f" for female), and returns the 
#name of an ancestor (m/f) or descendant (m/f).
#If the number is negative, return the related ancestor.
#If positive, return the related descendant.
#You are generation 0. In the case of 0 (male or female), return "me!".
#Examples
#generation(2, "f") ➞ "granddaughter"
#generation(-3, "m") ➞ "great grandfather"
#generation(1, "f") ➞ "daughter"

def generation(x,y):
    
    relations = {-3:{"m":"great grand father", "f":"great grand mother"}, -2:{"m":"grand father", "f":"grand mother"},\
                 -1:{"m":"father", "f":"mother"}, 0:{"m":"me", "f":"me"}, 1:{"m":"son", "f":"daughter"},\
                 2:{"m":"grand son", "f":"grand daughter"},3:{"m":"great grand son", "f":"great grand daughter"}}
    return relations[x][y]

In [9]:
generation(2,"f")

'grand daughter'

In [10]:
generation(-3, "m")

'great grand father'

In [11]:
generation(1, "f")

'daughter'

In [2]:
#27 Backpack Bill and Wallet Will set off for the annual festival. As they approach the stalls, Bill retorts that 
#he'll be able to bring home more stuff than Will. Taking this as a challenge, Will refutes and a competition 
#spurs into action.
#Backpack Bill has an infinite inventory space, but a limited number of coins.
#Wallet Will has an infinite number of coins, but a limited inventory space.
#Create a function that returns the name of the man who can bring home the most items. The parameters are given
#as follows:
#Bill's amount of money.
#Will's amount of inventory space.
#The item's price.
#The item's size.

def who_brings_most(bill_money, will_space, item_price, item_size):
    bill_items = bill_money/item_price
    wil_items = will_space/item_size
    if bill_items > wil_items:
        return "bill_won"
    elif wil_items > bill_items:
        return "will_won"
    else:
        return "it_is_a_Tie"

In [21]:
who_brings_most(3,4,5,6)

'will_won'

In [22]:
who_brings_most(1,2,3,4)

'will_won'

In [3]:
who_brings_most(2,1,4,3)

'bill_won'

In [38]:
#28 Create a function that validates whether a number n is within the bounds of lower and upper. Return False
#if n is not an integer.
#Examples
#int_within_bounds(3, 1, 9) ➞ True
#int_within_bounds(6, 1, 6) ➞ False
#int_within_bounds(4.5, 3, 8) ➞ False

def int_within_bounds(x,y,z):
    if y<x<z and x==int(x):
        print(True)
    else:
        print(False)

In [39]:
int_within_bounds(3, 1, 9)
int_within_bounds(6, 1, 6)
int_within_bounds(4.5, 3, 8)

True
False
False

In [40]:
#29 Write a function that returns the boolean True if the given number is zero, the string "positive" if the 
#number is greater than zero or the string "negative" if it's smaller than zero.
def is_positive_or_negative(n):
    if n>0:
        return "positive"
    elif n<0:
        return "negative"
    else:
        return n==0

In [41]:
is_positive_or_negative(0)

True

In [42]:
is_positive_or_negative(-9)

'negative'

In [43]:
#30 Create a function that takes three numbers as arguments and returns True if it's a triangle and False if not.
def is_triangle(a, b, c):
    return a+b>c or a+c>b or b+c>a

In [44]:
is_triangle(2, 3, 4)

True

In [47]:
#31 A "truthy" value is a value that translates to True when evaluated in a Boolean context. All values are truthy 
#unless they're defined as falsy.
#All falsy values are as follows:
#False, None, 0, [], {},""
#Create a function that takes an argument of any data type and returns 1 if it's truthy and 0 if it's falsy.

def is_truthy(a):
    if a==False or a==None or a==0 or a==[] or a=={} or a=="":
        print(False)
    else:
        print(True)

In [48]:
is_truthy(0)
is_truthy(False)
is_truthy("")

False
False
False

In [52]:
#32 Write a function that returns True if both numbers are:
#Smaller than 0, OR ...
#Greater than 0, OR ...
#Exactly 0
#Otherwise, return False.
def both(n1, n2):
    if n1>0 and n2>0:
        return True
    elif n1<0 and n2<0:
        return True
    elif n1==0 and n2==0:
        return True
    else:
        return False

In [53]:
both(-5, 2)

False

In [54]:
both(-5, -2)

True

In [55]:
#33 Create a function that takes a list. This list will contain numbers represented as strings.Your function should
#split this list into two new lists. The first list should contain only even numbers. The second only odd. Then, 
#wrap these two lists in one main list and return it.Return an empty list if there are no even numbers, or odd.
def clean_up_list(a):
    eve=[];odd=[];lst=[]
    for x in a:
        y=int(x)
        if y%2==0:
            eve.append(y)
        else:
            odd.append(y)
    lst.append(eve)
    lst.append(odd)
    return lst

In [56]:
clean_up_list(["7"])

[[], [7]]

In [60]:
clean_up_list(["8","2"])

[[8, 2], []]

In [59]:
clean_up_list(["5","6","7","9"])

[[6], [5, 7, 9]]

In [62]:
#34 When creating variables, the variable name must always start with a letter and cannot contain spaces, though 
#numbers and underscores are allowed to be contained in it also.
#Create a function which returns True if a given variable name is valid, otherwise return False.
def variable_valid(var):
    if var[0].isalpha() and var==var.split()[0] and var==var.split()[_] :
        return True
    else:
        return False

In [63]:
variable_valid("odd nums")

False

In [66]:
variable_valid("odd_nums")

True

In [65]:
variable_valid("0dd_nums")

False

In [68]:
#35 In a board game, a piece may advance 1-6 tiles forward depending on the number rolled on a six-sided die. 
#If you advance your piece onto the same tile as another player's piece, both of you earn a bonus.Can you reach 
#your friend's tile number in the next roll? Create a function that returns if it's possible to earn a bonus when 
#you roll the die.
def possible_bonus(a,b):
    if a<b and b-a<=6:
        return True
    else:
        return False

In [69]:
possible_bonus(3, 7)

True

In [70]:
possible_bonus(1, 9)

False

In [71]:
possible_bonus(5, 3)

False

In [74]:
#36 Create a function that takes two integers and checks if they are equal.
def is_equal(a,b):
    return(a==b)

In [75]:
is_equal("a", 1)

False

In [76]:
is_equal(1.0, 1)

True

In [77]:
#37 Write a function that takes a string name and a number num (either 0 or 1) and return "Hello" + name if num
#is 1, otherwise return "Bye" + name.

def say_hello_bye(name,num):
    if num==0:
        return ("Bye "+name)
    elif num==1:
        return ("Hello "+name)
    else:
        return(none)

In [78]:
say_hello_bye("raghu",0)

'Bye raghu'

In [79]:
say_hello_bye("raghu",1)

'Hello raghu'

In [81]:
# 38. Create a function that takes three number arguments — one number as an input and two additional numbers 
#representing the endpoints of a closed range — and return the number limited to this range.
#If the number falls within the range, the number should be returned.
#If the number is less than the lower limit of the range, the lower limit should be returned.
#If the number is greater than the upper limit of the range, the upper limit should be returned.
def limit_number(a,l,u):
    if a>l and a<u:
        return a
    elif a<l:
        return l
    else:
        return u

In [82]:
limit_number(4,3,9)

4

In [84]:
limit_number(3,5,8)

5

In [85]:
limit_number(10,3,8)

8

In [103]:
#39 Write a function that takes an integer and:
#If the number is a multiple of 3, return "Hello".
#If the number is a multiple of 5, return "World".
#If the number is a multiple of both 3 and 5, return "Hello World".
def mult_of_3_5(x):
    if x%3==0 and x%5==0:
        return "Hello world"
    elif x%5==0:
        return "world"
    elif x%3==0:
        return "Hello"
    else:
        print(None)

In [99]:
mult_of_3_5(2)

None

In [101]:
mult_of_3_5(20)

'world'

In [100]:
mult_of_3_5(9)

'Hello'

In [104]:
mult_of_3_5(15)

'Hello world'

In [109]:
#40 Given a string and a style character, return the newly formatted string. Style characters are single letters 
#that represent the different types of formatting.
#For the purposes of this challenge, the style characters are as follows:
#"b" is for bold
#"i" is for italics
#"c" is for inline code
#"s" is for strikethrough

def format_string(text, style):
    if style == "b":
        return f"**{text}**"
    elif style == "i":
        return f"*{text}*"
    elif style == "c":
        return f"`{text}`"
    elif style == "s":
        return f"~~{text}~~"
    else:
        return text

In [110]:
format_string("char","b") #bold

'**char**'

In [111]:
format_string("char","c")

'`char`'

In [112]:
#41 Darts is a target game played by throwing feathered darts at a circular board with numbered spaces. 
#Our darts game is the simplest of all games. The score of a single turn is calculated based on the distance 
#from the middle. You need to create a function that takes the dart location as two cartesian coordinates (x, y)
#and returns a score based on the distance from the middle, aka Bullseye (x=0, y=0).
#Bullseye and inner circle scores = 10 points
#Middle ring scores = 5 points
#Outer ring scores = 1 point
#Outside the target = 0 points
#We play it simple so a dart in the double or treble ring counts as usual and does not affect the segment score.
#Board and circle radius is as follows:
#Board radius and outer circle radius = 10 units
#Middle circle radius = 5 units
#Inner circle radius = 1 unit

def darts(x,y):
    distance = ((x**2)+(y**2))**0.5 # using r =sq.rt(x**2+y**2) we will identify the distance at which dart fell on board
    if distance > 10:
        return 0
    elif distance > 5:
        return 1
    elif distance > 1:
        return 5
    else:
        return 10

In [113]:
darts(0,0)

10

In [114]:
darts(3,2)

5

In [115]:
#42 Write a function that returns True if a year is a leap, otherwise return False.A year is a "leap year" if it 
#lasts 366 days, instead of 365 in a typical year. That extra day is added to the end of the shortest month, 
#creating February 29.A leap year occurs every four years, and will take place if the year is a multiple of four.
#The exception to this is a year at the beginning of a century (for example, 1900 or 2000), where the year must
#be divisible by 400 to be a leap year.Look at the examples, and if you need help, look at the resources panel.
def leap_year_or_not(x):
    if x%400 == 0 and x%100 == 0:
        print(True)
        
    elif x%4==0 and x%100!=0:
        print(True)
    
    else:
        print(False)

In [116]:
leap_year_or_not(1900)
leap_year_or_not(1924)
leap_year_or_not(2000)
leap_year_or_not(2100)

False
True
True
False

In [117]:
#43 Given a pH value, return whether that value is "alkaline" (greater than 7), "acidic" (less than 7), or
#"neutral" (7). Return "invalid" if the value given is less than 0 or greater than 14.
def pH_Value (x):
    if x<0 or x>14:
        print("invalid")
    elif x<7:
        print("acidic")
    elif x>7:
        print("alkaline")
    else:
        print("neutral")

In [118]:
pH_Value (6.8)
pH_Value (7.0)
pH_Value (7.1)
pH_Value (-1)
pH_Value (14.1)

acidic
neutral
alkaline
invalid
invalid

In [126]:
#44 Create a function that takes an array of hurdle heights and a jumper's jump height, and determine 
# whether or not the hurdler can clear all the hurdles.A hurdler can clear a hurdle if their 
# jump height is greater than or equal to the hurdle height.
#Examples
#hurdle_jump([1, 2, 3, 4, 5], 5) ➞ True 
#hurdle_jump([5, 5, 3, 4, 5], 3) ➞ False 
#hurdle_jump([5, 4, 5, 6], 10) ➞ True 
#hurdle_jump([1, 2, 1], 1) ➞ False

def hurdle_jump(hurdle_heights, jump_height):
    for height in hurdle_heights:
        if height > jump_height:
            return False
    else:
        return True

In [128]:
hurdle_jump([1, 2, 3, 4, 5], 5)

True

In [129]:
hurdle_jump([5, 5, 3, 4, 5], 3)

False

In [130]:
hurdle_jump([5, 4, 5, 6], 10)

True

In [131]:
hurdle_jump([1, 2, 1], 1)

False

In [133]:
#45 Create a function which returns the type of triangle, given the side lengths. Return the following values if 
#they match the criteria.
#No sides equal: "scalene"
#Two sides equal: "isosceles"
#All sides equal: "equilateral"
#Less or more than 3 sides given: "not a triangle"

def get_triangle_type(l):
    if len(l)==3:
        if l[0]==l[1] and l[1]==l[2]:
            return "equilateral"
        elif l[0]==l[1] or l[1]==l[2] or l[2]==l[0]:
            return "isosceles"
        else:
            return "scalene"
    else:
        return "not a triangle"

In [134]:
get_triangle_type([2, 6, 5])

'scalene'

In [135]:
get_triangle_type([4, 4, 7])

'isosceles'

In [136]:
get_triangle_type([8, 8, 8])

'equilateral'

In [137]:
get_triangle_type([3, 5, 5, 2])

'not a triangle'

In [ ]:
#46 Write a function that returns True if two rooks can attack each other, and False otherwise.

In [ ]:
#47 Given an integer n. Your task is to find how many digits this integer contains without using str or len methods

In [ ]:
#48 Create a function that takes in a two-dimensional list and returns the number of sub-lists with only 
#identical elements.

In [138]:
#49 Create a function that takes a number (from 1 to 12) and returns its corresponding month name as a string. 
#For example, if you're given 3 as input, your function should return "March", because March is the 3rd month.
def month_name(num):
    year={1:"January",2:"February",3:"March",4:"April",5:"May",6:"June",7:"July",8:"August",9:"September",\
          10:"October",11:"November",12:"December"}
    for x in year.keys():
        if x==num:
            month=year[x]
        else:
            continue
    return month

In [139]:
month_name(6)

'June'

In [ ]:
#50 Create a function that takes an initial word and extracts any words that start with the same letters as
#the initial word.

In [ ]:
#51 Create a function that takes a list of strings and returns the words that are exactly four letters.

In [ ]:
#52 Create a function that takes a year as an argument and returns the corresponding Chinese zodiac.

In [ ]:
#53 Create a function that determines if the temp of the water is considered boiling or not. temp will be measured
#in Fahrenheit and Celsius.

In [ ]:
#54 Create a function that takes two arguments of a list of numbers lst and a constant number n and returns the
#n largest numbers from the given list.

In [ ]:
#55 Create a function that takes a range object r,index i,and returns a list where the first element is the number
#of elements in the range object, and the second element is the element of the range object at the given index.

In [ ]:
#56 Two sisters are eating chocolate, whose pieces are represented as subarrays of [l x w].
#Write a function that returns True if the total area of chocolate is the same for each sister.

In [ ]:
#57 Failed or passed an exam. First parameter is the user's score. Second parameter is the required score.