# 1. Adding Numbers
Create a function that takes two number strings and returns their sum as a string.

Examples:
add("111", "111") ➞ "222"

add("10", "80") ➞ "90"

add("", "20") ➞ "Invalid Operation"

Notes:
If any input is "" or None, return "Invalid Operation".

In [12]:
def add(x,y):
    if x=="" or y=="" or x== None or y== None:
        j= "invalid operation" 
        
    else:
        b=int(x)
        c=int(y)
        a=b+c
        j=str(a)
    
    return j

In [13]:
add("111", "111")

'222'

# 2. Quadratic Equation
Create a function to find only the root value of x in any quadratic equation ax^2 + bx + c. The function will take three arguments:

a as the coefficient of x^2
b as the coefficient of x
c as the constant term

Examples:
quadratic_equation(1, 2, -3) ➞ 1

quadratic_equation(2, -7, 3) ➞ 3

quadratic_equation(1, -12, -28) ➞ 14

Notes:

Quadratic equation is always guaranteed to have a root.

Check the Resources tab for more information on quadratic equations.

Calculate only the root that sums the square root of the discriminant, not the one that subtracts it.

Round the value / return only integer value.

In [18]:
def quadratic_eq(a,b,c):
    discriminant= b**2-4*a*c
    x= (-b+(discriminant**0.5))/(2*a)
    return x

In [19]:
quadratic_eq(1,2,-3)

1.0

In [20]:
quadratic_eq(2,-7,3)

3.0

# 3 Two Distinct Elements
In each input list, every number repeats at least once, except for two. Write a function that returns the two unique numbers.

Examples return_unique([1, 9, 8, 8, 7, 6, 1, 6]) ➞ [9, 7]

return_unique([5, 5, 2, 4, 4, 4, 9, 9, 9, 1]) ➞ [2, 1]

return_unique([9, 5, 6, 8, 7, 7, 1, 1, 1, 1, 1, 9, 8]) ➞ [5, 6] Notes Keep the same ordering in the output.

In [7]:
def return_unique(x):
    
    a=[]
    for i in range(len(x)):
        if x.count(x[i])==1 and (x[i])!=2:
            a.append(x[i])
    return a

In [8]:
return_unique([1, 9, 8, 8, 7, 6, 1, 6])

[9, 7]

In [10]:
return_unique([1,2,3,4,1,2,3,4,6,5])

[6, 5]

# 4 Stupid Addition
Create a function that takes two parameters and, if both parameters are strings, add them as if they were integers or if the two parameters are integers, concatenate them.

Examples stupid_addition(1, 2) ➞ "12"

stupid_addition("1", "2") ➞ 3

stupid_addition("1", 2) ➞ None Notes If the two parameters are different data types, return None. All parameters will either be strings or integers.

In [32]:
def stupid_addition(x,y):
    if type(x)==int and type(y)==int:
        z=str(x)+str(y)
    elif type(x)==str and type(y)==str:
        z=int(x)+int(y)
    elif type(x)==int and type(y)==str or type(x)==str and type(y)==int:
        z= "None"
    return z

In [33]:
stupid_addition(1, 2)

'12'

In [34]:
stupid_addition("1", "2")

3

In [35]:
stupid_addition("1", 2)

'None'

# 5 Transcribe to mRNA
Transcribe the given DNA strand into corresponding mRNA - a type of RNA, that will be formed from it after transcription. DNA has the bases A, T, G and C, while RNA converts to U, A, C and G respectively.

Examples 

dna_to_rna("ATTAGCGCGATATACGCGTAC") ➞ "UAAUCGCGCUAUAUGCGCAUG"

dna_to_rna("CGATATA") ➞ "GCUAUAU"

dna_to_rna("GTCATACGACGTA") ➞ "CAGUAUGCUGCAU"

Notes Transcription is the process of making complementary strand. 

A, T, G and C in DNA converts to U, A, C and G respectively, when in mRNA.

In [37]:
def dna_to_rna(x):
    table=x.maketrans("ATGC","UACG")
    y=x.translate(table)
    return y

In [38]:
dna_to_rna("ATTAGCGCGATATACGCGTAC")

'UAAUCGCGCUAUAUGCGCAUG'

# 6 A Long Long Time
Create a function that takes three values:

h hours m minutes s seconds Return the value that's the longest duration.

Examples longest_time(1, 59, 3598) ➞ 1

longest_time(2, 300, 15000) ➞ 300

longest_time(15, 955, 59400) ➞ 59400 Notes No two durations will be the same.

In [72]:
def longest_time(H,M,S):
    H=H*3600
    M=M*60
    S=S
    if H>S and M:
        return int(H/3600)
    elif M>S and H:
        return int(M/60)
    else:
        return S

In [73]:
longest_time(1, 59, 3598)

1

In [74]:
longest_time(2, 300, 15000)

300

In [75]:
longest_time(15, 955, 59400)

59400

# 7 Likes vs. Dislikes
YouTube currently displays a like and a dislike button, allowing you to express your opinions about particular content. It's set up in such a way that you cannot like and dislike a video at the same time.

There are two other interesting rules to be noted about the interface:

Pressing a button, which is already active, will undo your press. 

If you press the like button after pressing the dislike button, the like button overwrites the previous "dislike" state.

The same is true for the other way round. Create a function that takes in a list of button inputs and returns the final state.

Examples

like_or_dislike(["Dislike"]) ➞ "Dislike"

like_or_dislike(["Like", "Like"]) ➞ "Nothing"

like_or_dislike(["Dislike", "Like"]) ➞ "Like"

like_or_dislike(["Like", "Dislike", "Dislike"]) ➞ "Nothing" 

Notes If no button is currently active, return "Nothing". If the list is empty, return "Nothing".

In [30]:
def like_or_dislike(buttons):
    button_active = "Nothing"  
    
    for opinion in buttons:
        if opinion == "Like":
            if button_active == "Like":
                button_active = "Nothing" 
            else:
                button_active = "Like" 
        elif opinion == "Dislike":
            if button_active == "Dislike":
                button_active = "Nothing"  
            else:
                button_active = "Dislike"  
    
    return button_active

In [31]:
like_or_dislike(["Dislike"])

'Dislike'

In [32]:
like_or_dislike([''])

'Nothing'

In [33]:
like_or_dislike(["Like", "Like"])

'Nothing'

In [34]:
like_or_dislike(["Dislike", "Like"])

'Like'

# 8 Oddish vs. Evenish
Create a function that determines whether a number is Oddish or Evenish. A number is Oddish if the sum of all of its digits is odd, and a number is Evenish if the sum of all of its digits is even. If a number is Oddish, return "Oddish". Otherwise, return "Evenish".

For example, oddish_or_evenish(121) should return "Evenish", since 1 + 2 + 1 = 4. oddish_or_evenish(41) should return "Oddish", since 4 + 1 = 5.

Examples oddish_or_evenish(43) ➞ "Oddish"

4 + 3 = 7
7 % 2 = 1
oddish_or_evenish(373) ➞ "Oddish"

3 + 7 + 3 = 13
13 % 2 = 1
oddish_or_evenish(4433) ➞ "Evenish"

4 + 4 + 3 + 3 = 14
14 % 2 = 0

In [44]:
def oddish_or_evenish(num):
    digit_sum=sum(int(digit) for digit in str(num))
    if digit_sum%2==0:
        return "Evenish"
    else:
        return "Oddish"

In [50]:
oddish_or_evenish(4433)

'Evenish'

# 9 The Fifth Argument
Create a function (named fifth) that takes some arguments and returns the type of the fifth argument. In case the arguments were less than 5, return "Not enough arguments".

Examples 

fifth(1, 2, 3, 4, 5) ➞ int

fifth("a", 2, 3, [1, 2, 3], "five") ➞ str

fifth() ➞ "Not enough arguments" 

Notes Don't get confused between zero-indexing and one-indexing. If you get stuck check the Resources tab.

In [3]:
def fifth_arg_type(*args):   
    if len(args)<5:
        return "Not enough arguments"
    else:
         return type(args[4])

In [4]:
fifth_arg_type(1,2,3,4,5)

int

In [4]:
fifth_arg_type()

'Not enough arguments'

In [6]:
fifth_arg_type("a", 2, 3, [1, 2, 3], "five")

str

# 10 Censor Words Longer Than Four Characters
Create a function that takes a string and censors words over four characters with *.

Examples censor("The code is fourty") ➞ "The code is ******"

censor("Two plus three is five") ➞ "Two plus ***** is five"

censor("aaaa aaaaa 1234 12345") ➞ "aaaa ***** 1234 ****" 

Notes Don't censor words with exactly four characters.

If all words have four characters or less, return the original string. The amount of is the same as the length of the word.

In [112]:
def censor(sentence):
    lst= sentence.split(' ')
    for element in range(len(lst)):
        word=lst[element]
        updated_word=''
        for char in word:
            if len(word)>4:
                char='*'
                updated_word+=char
            else:
                updated_word+=char
        lst[element]=updated_word 
    return ' '.join(lst)

In [113]:
censor("The code is fourty")

'The code is ******'

In [114]:
censor("Two plus three is five")

'Two plus ***** is five'

In [115]:
censor("aaaa aaaaa 1234 12345")

'aaaa ***** 1234 *****'

In [116]:
censor("The code is four")

'The code is four'

# 11 Neutralisation
Given two strings comprised of + and -, return a new string which shows how the two strings interact in the following way:

When positives and positives interact, they remain positive. When negatives and negatives interact, they remain negative.

But when negatives and positives interact, they become neutral, and are shown as the number 0. 

Worked Example 

neutralise("+-+", "+--") ➞ "+-0"

Compare the first characters of each string, then the next in turn.
"+" against a "+" returns another "+".
"-" against a "-" returns another "-".
"+" against a "-" returns "0".

Return the string of characters.

Examples:

neutralise("--++--", "++--++") ➞ "000000"

neutralise("-+-+-+", "-+-+-+") ➞ "-+-+-+"

neutralise("-++-", "-+-+") ➞ "-+00" Notes The two strings will be the same length.

In [182]:
def neutralise(string1,string2):
    a=len(string1)
    b=len(string2)
    neutralised=''
    if a!=b:
        return 'both strings are not of same length'
    
    for char in range(len(string1)):
        A= string1[char]
        B= string2[char]
        
        if A=='+' and B=='+':
            neutralised+='+'
        elif A=='-' and B=='-':
            neutralised+='-'
        else:
            neutralised+='0'
                
    return neutralised

In [183]:
neutralise("--++--", "++--++")

'000000'

In [181]:
neutralise("-+-+-+", "-+-+-+")

'-+-+-+'

# 12 Are the Sum of Digits in the Numbers Equal

Write a function that takes a list of two numbers and determines if the sum of the digits in each number are equal to each other.

Examples:

is_equal([105, 42]) ➞ True

1 + 0 + 5 = 6
4 + 2 = 6

is_equal([21, 35]) ➞ False

is_equal([0, 0]) ➞ True

In [198]:
def is_equal(num):
    num1=num[0]
    num2=num[1]
    num1_digit_sum=sum(int(digit) for digit in str(num1))
    num2_digit_sum=sum(int(digit) for digit in str(num2))
    return num1_digit_sum==num2_digit_sum

In [199]:
is_equal([105,42])

True

In [200]:
is_equal([21, 35])

False

In [211]:
is_equal([0, 0])

True

# 13 Hold Your Breath!
You will be given a list of numbers which represent your character's altitude above sea level at regular intervals:

Positive numbers represent height above the water. 0 is sea level. Negative numbers represent depth below the water's surface. Create a function which returns whether your character survives their unsupervised diving experience, given a list of integers.

Your character starts with a breath meter of 10, which is the maximum. When diving underwater, your breath meter decreases by 2 per item in the array. Watch out! If your breath diminishes to 0, your character dies!

To prevent this, you can replenish your breath by 4 (up to the maximum of 10) for each item in the array where you are at or above sea level.

Your function should return True if your character survives, and False if not.

Worked Example diving_minigame([-5, -15, -4, 0, 5]) ➞ True

Breath meter starts at 10.
-5 is below water, so breath meter decreases to 8.
-15 is below water, so breath meter decreases to 6.
-4 is below water, so breath meter decreases to 4.
0 is at sea level, so breath meter increases to 8.
5 is above sea level and breath meter is capped at 10 (would've been 12 otherwise).
Character survives!
Examples:

diving_minigame([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) ➞ True

diving_minigame([-3, -6, -2, -6, -2]) ➞ False

diving_minigame([2, 1, 2, 1, -3, -4, -5, -3, -4]) ➞ False 

Notes Lists may be of any length. All lists are valid.

In [207]:
def diving_minigame(altitudes_array):
    breath_meter=10
    for altitude in altitudes_array:
        
        if altitude<0:
            breath_meter-=2
        else:
            breath_meter+=4
        
        if breath_meter>10:
            breath_meter=10
            
        if breath_meter<=0:
            return False
    return True

In [208]:
diving_minigame([2, 1, 2, 1, -3, -4, -5, -3, -4])

False

In [209]:
diving_minigame([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

True

In [210]:
diving_minigame([-3, -6, -2, -6, -2])

False

# 14 Operations
Write a function that does the following operations: adding, subtracting, dividing, or multiplying values. It is simply referred to as variable operation variable. Of course, the variables have to be defined, but in this challenge the variables will be defined for you. All you have to do is look at the variables, do some string to integer conversions, use some if conditionals, and combine them based on the operation.

The numbers and operation will be given as strings, and you should return the value as a string as well.

Examples:

operation("1", "2", "add" ) ➞ "3"

operation("4", "5", "subtract") ➞ "-1"

operation("6", "3", "divide") ➞ "2" 

Notes: The numbers and operation will be given as strings, and you should also return the value as a string.

If the answer is "undefined", return "undefined" (e.g. dividing by zero). For divide, go ahead and round down to an integer.

In [218]:
def operation(x,y,operand):
    if operand=="add":
        z=int(x)+int(y)
    elif operand=="subtract":
        z=int(x)-int(y)
    elif operand=="divide":
        if int(y)==0:
            z="undefined"
        else:
            z=int(x)//int(y)
    return str(z)

In [219]:
operation("6", "0", "divide")

'undefined'

In [220]:
operation("6", "3", "divide")

'2'

In [221]:
operation("4", "5", "subtract")

'-1'

In [222]:
operation("1", "2", "add" )

'3'

# 15 Balanced List
Given a list of even length, copy the half with the higher sum of numbers to the other half of the list. 

If the sum of the first half equals the sum of the second half, return the original list.

Examples:
    
balanced([1, 2, 4, 6, 3, 1]) ➞ [6, 3, 1, 6, 3, 1]

1 + 2 + 4 < 6 + 3 + 1 sol = [6, 3, 1, 6, 3, 1]

balanced([88, 3, 27, 5, 9, 0, 13, 10]) ➞ [88, 3, 27, 5, 88, 3, 27, 5]

88 + 3 + 27 + 5 > 9 + 0 + 13 + 10 sol = [88, 3, 27, 5, 88, 3, 27, 5]

balanced([7, 5, 2, 6, 1, 0, 1, 5, 2, 7, 0, 6]) ➞ [7, 5, 2, 6, 1, 0, 1, 5, 2, 7, 0, 6]

7 + 5 + 2 + 6 + 1 + 0 = 1 + 5 + 2 + 7 + 0 + 6 sol = [7, 5, 2, 6, 1, 0, 1, 5, 2, 7, 0, 6]

Notes The length of the list is even.

In [5]:
def  balanced(x):
    if len(x)%2==0:
        a=[]
        b=[]
        sum1=sum(element for element in range(0,len(x)//2))
        
        sum2=sum(element for element in range(len(x)//2,len(x)))
        
        for element in range(0,len(x)//2):
            a.append(x[element])
        
        for element in range(len(x)//2,len(x)):
            b.append(x[element])
        if sum1>sum2:
            return a*2
        elif sum2>sum1:
            return b*2
        else:
            return x

In [13]:
balanced([1, 2, 4, 6, 3, 1])

[6, 3, 1, 6, 3, 1]

In [16]:
balanced([88, 3, 27, 5, 9, 0, 13, 10])

[9, 0, 13, 10, 9, 0, 13, 10]

# 16 Rock, Paper, Scissors
Create a function which takes two strings (p1 and p2 ⁠— which represent player 1 and 2) as arguments and returns a string stating the winner in a game of Rock, Paper, Scissors.

Each argument will contain a single string: "Rock", "Paper", or "Scissors". Return the winner according to the following rules:

Rock beats Scissors Scissors beats Paper Paper beats Rock If p1 wins, return the string "The winner is p1".

If p2 wins, return the string "The winner is p2" and if p1 and p2 are the same, return "It's a draw".

Examples:

rps("Rock", "Paper") ➞ "The winner is p2"

rps("Scissors", "Paper") ➞ "The winner is p1"

rps("Paper", "Paper") ➞ "It's a draw" 

Notes All inputs will be valid strings.

In [25]:
def rock_paper_sci(p1,p2):
    a="The winner is "
    if p1=="Rock" and p2=="Paper":
        return a+"p2"
    elif p1=="Scissors" and p2=="Paper":
        return a+"p1"
    elif p1=="Scissors" and p2=="Rock":
        return a+"p2"
    elif p1==p2:
        return "its's a draw"

In [26]:
rock_paper_sci("Rock", "Paper")

'The winner is p2'

In [27]:
rock_paper_sci("Scissors", "Paper")

'The winner is p1'

In [28]:
rock_paper_sci("Paper", "Paper")

"its's a draw"

# 17 Car Timer 🏎️
A built-in timer inside your car can count the length of your ride in minutes and you have started your ride at 00:00.

Given the number of minutes n at the end of the ride, calculate the current time. Return the sum of digits that the digital timer in the format hh:mm will show at the end of the ride.

Examples:

car_timer(240) ➞ 4

240 minutes have passed since 00:00, the current time is 04:00

Digits sum up is 0 + 4 + 0 + 0 = 4


car_timer(14) ➞ 5

Digits sum up is 0 + 0 + 1 + 4


car_timer(808) ➞ 14

In [36]:
def car_timer(minutes):
    hours=minutes//60
    mins=minutes%60
    time = "{:02d}:{:02d}".format(hours, mins)   # 02 specifies minimum width of the value, d refers to dtype of value as int 
    digit_sum = 0
    for digit in time:
        if digit.isdigit():
            digit_sum += int(digit)
    return digit_sum

In [19]:
car_timer(808)

14

# 18 Letters Only
Check if the given string consists of only letters and spaces and if every letter is in lower case.

Examples:

letters_only("PYTHON") ➞ False

letters_only("python") ➞ True

letters_only("12321313") ➞ False

letters_only("i have spaces") ➞ True

letters_only("i have numbers(1-10)") ➞ False

letters_only("") ➞ False 

Notes Empty arguments will always return False. Input values will be mixed (symbols, letters, numbers).

In [39]:
def letters_only(txt):
    if not txt:
        return False

    for char in txt:
        if not char.isalpha() and char != ' ':
            return False
        if char.isalpha() and not char.islower():
            return False

    return True

In [40]:
letters_only("")

False

In [41]:
letters_only("i have numbers(1-10)")

False

In [42]:
letters_only("i have spaces")

True

# 19 Find the Shared Letters between Two Strings
Given two strings, return a string containing only the letters shared between the two.

Examples:

shared_letters("house", "home") ➞ "eho"

shared_letters("Micky", "mouse") ➞ "m"

shared_letters("house", "villa") ➞ "" 

Notes If none of the letters are shared, return an empty string. 

The function should be case insensitive (e.g. comparing A and a should return a). 

Sort the resulting string alphabetically before returning it.

In [43]:
def shared_letters(str1, str2):
    str1 = str1.lower()
    str2 = str2.lower()
    shared = set()
    
    for char in str1:
        if char in str2:
            shared.add(char)
    
    shared = sorted(shared)
    
    result = ''
    for char in shared:
        result += char
    
    return result

In [44]:
shared_letters("house", "villa")

''

In [45]:
shared_letters("Micky", "mouse")

'm'

In [46]:
shared_letters("house", "home")

'eho'

# 20 List Chunking
Given a list and chunk size "n", create a function such that it divides the list into many sublists where each sublist is of length size "n".

Examples chunk([1, 2, 3, 4], 2) ➞ [ [1, 2], [3, 4] ]

chunk([1, 2, 3, 4, 5, 6, 7], 3) ➞ [ [1, 2, 3], [4, 5, 6], [7] ]

chunk([1, 2, 3, 4 ,5], 10) ➞ [ [1, 2, 3, 4, 5] ] 

Notes Remember that number of sublists may not be equal to chunk size.

In [3]:
def chunk(lst,n):
    return [lst[i:i+n] for i in range(0, len(lst), n)]

In [4]:
chunk([1, 2, 3, 4], 2)

[[1, 2], [3, 4]]

In [5]:
chunk([1, 2, 3, 4, 5, 6, 7], 3)

[[1, 2, 3], [4, 5, 6], [7]]

# 21 Flash Cards
Create a function that outputs the results of a flashcard. A flashcard is a list of three elements: a number, an operator symbol, and another number. Return the mathematical result of that expression.

There are 4 operators: + (addition), - (subtraction), x (multiplication), and / (division). If the flashcard displays a number being divided by zero, e.g. [3, "/", 0], then return None. For division, round to the hundredths place. So [10, "/", 3] should return 3.33.

Examples:

flash([3, "x", 7]) ➞ 21

flash([5, "+", 7]) ➞ 12

flash([10, "-", 9]) ➞ 1

flash([10, "/", 0]) ➞ None

flash([10, "/", 3]) ➞ 3.

33 Notes Flash cards contain only zero or positive numbers.

In [50]:
def flash(lst):
    if lst[1] == "x":
        return (lst[0]*lst[2]) 
    elif lst[1] == "+":
        return (lst[0]+lst[2]) 
    elif lst[1] == "-":
        return (lst[0]-lst[2]) 
    elif lst[1] == "/":
        if lst[2] == 0 :
            return "None" 
        else:
            result= (lst[0]/lst[2])
            return  result

In [51]:
flash([3, "x", 7])

21

In [52]:
flash([10, "/", 0])

'None'

# 22 What's My Golf Score?
A standard-sized golf course has 18 holes. Each hole is given a par, which is the expected number of strokes (hits) that a good player would use to complete a hole. Golf also uses different terms for a player being over/under par for a particular hole:

"eagle" = 2 under par (-2) "birdie" = 1 under par (-1) "bogey" = 1 over par (+1) "double-bogey" = 2 over par (+2) Example scores:

"birdie" on a par 3 hole = 2 "eagle" on a par 5 hole = 3 "par" on a par 3 hole = 3 "bogey" on a par 4 hole = 5 Given a list of pars for an 18-hole golf course, and another list containing the player result for each hole, return the total score for the round of golf.

Example course = [4, 4, 5, 3, 4, 4, 3, 5, 5, 3, 5, 4, 4, 4, 4, 3, 4, 4]

result = ["eagle", "bogey", "par", "bogey", "double-bogey", "birdie", "bogey", "par", "birdie", "par", "par", "par", "par", "par", "bogey", "eagle", "bogey", "par"]

score = 2+5+5+4+6+3+4+5+4+3+5+4+4+4+5+1+5+4 = 73 

Notes: For this challenge, there will be no holes-in-one, albatrosses (-3), or anything worse than a double-bogey.

In [58]:
def calc_golf_score(course, result):
    point_values = {"eagle": -2, "birdie": -1,"par": 0,"bogey": 1,"double-bogey": 2}
    score = 0
    for i in range(len(course)):
        score += course[i] + point_values[result[i]]

    return score

In [59]:
course = [4, 4, 5, 3, 4, 4, 3, 5, 5, 3, 5, 4, 4, 4, 4, 3, 4, 4]
result = ["eagle", "bogey", "par", "bogey", "double-bogey", "birdie", "bogey", "par", "birdie", "par", "par", "par", "par", "par", "bogey", "eagle", "bogey", "par"]

calc_golf_score(course, result)

73

In [65]:
calc_golf_score([5, 4, 4, 4, 4, 4, 5, 4, 3, 3, 4, 5, 3, 4, 4, 3, 5, 4], ['par', 'bogey', 'birdie', 'bogey', 'par', 'birdie', 'par', 'bogey', 'eagle', 'par', 'par', 'birdie', 'par', 'eagle', 'double-bogey', 'birdie', 'par', 'birdie'])

68

# 23 The Major Sum
Create a function that takes an integer list and return the biggest between positive sum, negative sum, or 0s count. The major is understood as the greatest absolute.

l = [1,2,3,4,0,0,-3,-2], the function has to return 10, because:

Positive sum = 1+2+3+4 = 10 Negative sum = (-3)+(-2) = -5 0s count = 2 (there are two zeros in list)

Examples:

major_sum([1, 2, 3, 4, 0, 0, -3, -2]) ➞ 10

major_sum([-4, -8, -12, -3, 4, 7, 1, 3, 0, 0, 0, 0]) ➞ -27

major_sum([0, 0, 0, 0, 0, 1, 2, -3]) ➞ 5

Because -3 < 1+2 < 0sCount = 5

Notes All numbers are integers. There aren't empty lists. All tests are made to return only one value.

In [74]:
def major_sum(lst):
    positive_sum = 0
    negative_sum = 0
    zeros_count = 0

    for num in lst:
        if num > 0:
            positive_sum += num
        elif num < 0:
            negative_sum += num
        else:
            zeros_count += 1
            
    if zeros_count > positive_sum and zeros_count > -negative_sum:
        return zeros_count
    elif positive_sum > -negative_sum:
        return positive_sum
    else:
        return -negative_sum

In [75]:
major_sum([1, 2, 3, 4, 0, 0, -3, -2])

10

In [76]:
major_sum([-4, -8, -12, -3, 4, 7, 1, 3, 0, 0, 0, 0])

27

In [77]:
major_sum([0, 0, 0, 0, 0, 1, 2, -3])

5

# 24 Numerical Morphisms
A number num, that elevated to the power of another number k "ends" with the same num, it's automorphic.

5² = 25

It's automorphic because "25" ends with "5"
5³ = 125

It's automorphic because "125" ends with "5"
76⁴ = 33362176

It's automorphic because "33362176" ends with "76"

A number can have various powers that make it automorphic (i.e. look at number 5 in the above example).

In this challenge, you have to verify if the given number is automorphic for each power from 2 up to 10.

Given a non-negative integer num, implement a function that returns the string:

"Polymorphic" if num is automorphic for every power from 2 up to 10.

"Quadrimorphic" if num is automorphic for only four powers (any from 2 up to 10). 

"Dimorphic" if num is automorphic for only two powers (any from 2 up to 10). 

"Enamorphic" if num is automorphic for only one power (any from 2 up to 10).

"Amorphic" if num is not automorphic for for any powers from 2 up to 10. 

Examples:

power_morphic(5) ➞ "Polymorphic"

From 2 up to 10, every power of 5 ends with 5

power_morphic(21) ➞ "Enamorphic"

21⁶ = 85766121

power_morphic(7) ➞ "Dimorphic"

7⁵ = 716807
7⁹ = 40353607

power_morphic(4) ➞ "Quadrimorphic"

4³ = 64
4⁵ = 1024
4⁷ = 16384
4⁹ = 262144

power_morphic(10) ➞ "Amorphic"

There are no powers that make it automorphic
Notes You can do a complete loop cycle to check if num is automorphic for each power, or you can try to spot the discriminants that permit you to shorten the logic of your code. Despite being inspired by the OEIS sequence A003226, the assertions of this challenge are to be considered properly valid only in the specific context.

In [78]:
def power_morphic(num):
    c=0;n=0;s=len(str(num))
    d={9:"Polymorphic",4:"Quadramorphic",2:"Dimorphic",1:"Enamorphic",0:"Amorphic"}
    for x in range(2,11):
        n=num**x
        if n%(10**s)==num:
            c+=1
        else:
            continue
    for y in d:
        if c==y:
            return d[y]
        else:
            continue
    return None

In [79]:
power_morphic(5)

'Polymorphic'

In [80]:
power_morphic(21)

'Enamorphic'

In [81]:
power_morphic(7)

'Dimorphic'

In [82]:
power_morphic(4)

'Quadramorphic'

In [83]:
power_morphic(10)

'Amorphic'

# 25 Order by Length First
Graded lexicographic order (grlex order for short) is a way of ordering words that:

First orders words by length. Then orders words of the same size by their dictionary order. 

For example, in grlex order:

"tray" < "trapped" since "tray" has length 4 while "trapped" has length 7.

"trap" < "tray" since both have length 4, but "trap" comes before "tray" in the dictionary.

Given a list of words, return that list in grlex order.

Examples 

make_grlex(["small", "big"]) ➞ ["big", "small"]

make_grlex(["cat", "ran", "for", "the", "rat"]) ➞ ["cat", "for", "ran", "rat", "the"]

make_grlex(["this", "is", "a", "small", "test"]) ➞ ["a", "is", "test", "this", "small"]

In [84]:
def make_grlex(words):
    return sorted(words, key=lambda word: (len(word), word))

In [85]:
make_grlex(["small", "big"])

['big', 'small']

In [86]:
make_grlex(["cat", "ran", "for", "the", "rat"])

['cat', 'for', 'ran', 'rat', 'the']

In [87]:
make_grlex(["this", "is", "a", "small", "test"])

['a', 'is', 'test', 'this', 'small']