In [1]:
import numpy as np

In [29]:
data=np.genfromtxt(r"C:\Users\143sa\Downloads\tipsf.csv",skip_header=1,delimiter=",",dtype=None,encoding=None)

In [57]:
data.shape

(244,)

In [8]:
rows=len(data)
cols=len(data[0])

# 1. what is the total bill value

In [68]:
total_bill_array = np.array([])
for row in range(rows):
    total_bill_array = np.append(total_bill_array, data[row][1])

In [73]:
total_bill_array.sum()

4827.77

# 2. what is the total tip value

In [85]:
total_tip_array = np.array([])
for row in range(rows):
    total_tip_array = np.append(total_tip_array, data[row][2])

In [133]:
total_tip_array.sum().round(2)

731.58

# 3. What is the average tip given by female.

In [96]:
female_tip_array = np.array([])
for row in range(rows):
    if  data[row][3]==0:
        female_tip_array = np.append(female_tip_array, data[row][2])

In [132]:
female_tip_array.mean().round(2)

2.83

# 4. What is the average tip given by male.

In [98]:
male_tip_array = np.array([])
for row in range(rows):
    if  data[row][3]==1:
        male_tip_array = np.append(male_tip_array, data[row][2])

In [131]:
male_tip_array.mean().round(2)

3.09

# 5 How many saturdays are there

In [103]:
total_saturday_array = np.array([])
for row in range(rows):
    if  data[row][5]==0:
        total_saturday_array = np.append(total_saturday_array, data[row][4])

In [109]:
len(total_saturday_array)

87

# 6 How many sundays are there

In [110]:
total_sunday_array = np.array([])
for row in range(rows):
    if  data[row][5]==1:
        total_sunday_array = np.append(total_sunday_array, data[row][4])

In [111]:
len(total_sunday_array)

76

# 7 How many Fridays are there

In [113]:
total_Friday_array = np.array([])
for row in range(rows):
    if  data[row][5]==3:
        total_Friday_array = np.append(total_Friday_array, data[row][4])

In [114]:
len(total_Friday_array)

19

# 8 How many Thursdays are there

In [115]:
total_Thursday_array = np.array([])
for row in range(rows):
    if  data[row][5]==2:
        total_Thursday_array = np.append(total_Thursday_array, data[row][4])

In [116]:
len(total_Thursday_array)

62

# 9 How many smokers are there

In [117]:
total_smokers_array = np.array([])
for row in range(rows):
    if  data[row][4]==1:
        total_smokers_array = np.append(total_smokers_array, data[row][3])

In [118]:
len(total_smokers_array)

93

# 10 Total amount paid by female

In [120]:
female_total_bill_array = np.array([])
for row in range(rows):
    if  data[row][3]==0:
        female_total_bill_array = np.append(female_total_bill_array, data[row][1])

In [129]:
female_total_bill_array.sum().round(2)

1570.95

# 11. Total amount paid by male

In [126]:
male_total_bill_array = np.array([])
for row in range(rows):
    if  data[row][3]==1:
        male_total_bill_array = np.append(male_total_bill_array, data[row][1])

In [134]:
male_total_bill_array.sum().round(2)

3256.82

# 12.Min Tip given.

In [135]:
tip_array = np.array([])
for row in range(rows):
    tip_array = np.append(tip_array, data[row][2])

In [137]:
tip_array.min()

1.0

# 13.Max Tip given.

In [140]:
tip_array.max()

10.0

In [46]:
data1=np.genfromtxt(r"C:\Users\143sa\Downloads\tipsf.csv",skip_header=1,delimiter=',',dtype=object,encoding=None)
data1

array([[b'0', b'16.99', b'1.01', ..., b'1', b'0', b'2'],
       [b'1', b'10.34', b'1.66', ..., b'1', b'0', b'3'],
       [b'2', b'21.01', b'3.5', ..., b'1', b'0', b'3'],
       ...,
       [b'241', b'22.67', b'2.0', ..., b'0', b'0', b'2'],
       [b'242', b'17.82', b'1.75', ..., b'0', b'0', b'2'],
       [b'243', b'18.78', b'3.0', ..., b'2', b'0', b'2']], dtype=object)

# 14 How many male went to lunch

In [54]:
male_lunch = 0
for x in range(244):
    if data1[x,3]==b'1' and data1[x,6]==b'1':
        male_lunch+=1
print(f'number of male went to lunch are {male_lunch}')

number of male went to lunch are 33

# 15 How many male went to dinner

In [52]:
male_dinner = 0
for x in range(244):
    if data1[x,3]==b'1' and data1[x,6]==b'0':
        male_dinner+=1
print(f'number of male went to dinner are {male_dinner}')

number of male went to dinner are 124

# 14 How many female went to lunch

In [55]:
Female_lunch = 0
for x in range(244):
    if data1[x,3]==b'0' and data1[x,6]==b'1':
        Female_lunch+=1
print(f'number of Female went to lunch are {Female_lunch}')

number of Female went to lunch are 35

# 15 How many female went to dinner

In [56]:
Female_dinner = 0
for x in range(244):
    if data1[x,3]==b'0' and data1[x,6]==b'0':
        Female_dinner+=1
print(f'number of Female went to dinner are {Female_dinner}')

number of Female went to dinner are 52

# 16 Find out the average size

In [230]:
size_array = np.array([])
for row in range(rows):
        size_array = np.append(size_array, data[row][7])

In [232]:
size_array.mean().round(2)

2.57

# 17 COUNT NUMBER OF MALE SMOKERS

In [47]:
male_smokers=0
for x in range(244):
    if data1[x,3]==b'1' and data1[x,4]==b'1':
        male_smokers+=1
print(f'number of male smokers are {male_smokers}')

number of male smokers are 60

# 18 COUNT NUMBER OF FEMALE SMOKERS

In [49]:
female_smok=0
for x in range(244):
    if data1[x,3]==b'0' and data1[x,4]==b'1':
        female_smok+=1

print(f'number of female smokers are {female_smok}')

number of female smokers are 33

In [219]:
filtered_rows = data[(data[:, 3] > 0) & (data[:, 6] > 0)]

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [218]:
import numpy as np

# Assuming you have your 8-column array named 'data'
# You can replace 'data' with your actual array name

# Select rows where the 4th column values are equal to 1
mask_4th = data[:, 3]> 0

# Select rows where the 7th column values are equal to 1
mask_7th = data[:, 6] > 0

# Combine the masks using logical AND
combined_mask = np.logical_and(mask_4th, mask_7th)

# Get the values from the 7th column using the combined mask
result_array = data[combined_mask, 6]

print(result_array)

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [224]:
def reduce(function, iterable, initializer=None):
    it = iter(iterable)
    if initializer is None:
        try:
            initializer = next(it)
        except StopIteration:
            raise TypeError('reduce() of empty sequence with no initial value')
    accum_value = initializer
    for x in it:
        accum_value = function(accum_value, x)
    return accum_value

In [228]:
c=reduce((np.logical_and, [data[:, 3] > 0, data[:, 6] > 0]))

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [229]:
dx = np.where(c)

NameError: name 'c' is not defined

In [61]:
import numpy as np

# Existing array
arr = np.array([])

# Append a single element
new_arr = np.append(arr, 4)

print(new_arr)  # Output: [1 2 3 4]

[4.]

In [62]:
type(new_arr)

numpy.ndarray

In [56]:
data

array([(  0, 16.99,  1.01, 0, 0, 1, 0, 2),
       (  1, 10.34,  1.66, 1, 0, 1, 0, 3),
       (  2, 21.01,  3.5 , 1, 0, 1, 0, 3),
       (  3, 23.68,  3.31, 1, 0, 1, 0, 2),
       (  4, 24.59,  3.61, 0, 0, 1, 0, 4),
       (  5, 25.29,  4.71, 1, 0, 1, 0, 4),
       (  6,  8.77,  2.  , 1, 0, 1, 0, 2),
       (  7, 26.88,  3.12, 1, 0, 1, 0, 4),
       (  8, 15.04,  1.96, 1, 0, 1, 0, 2),
       (  9, 14.78,  3.23, 1, 0, 1, 0, 2),
       ( 10, 10.27,  1.71, 1, 0, 1, 0, 2),
       ( 11, 35.26,  5.  , 0, 0, 1, 0, 4),
       ( 12, 15.42,  1.57, 1, 0, 1, 0, 2),
       ( 13, 18.43,  3.  , 1, 0, 1, 0, 4),
       ( 14, 14.83,  3.02, 0, 0, 1, 0, 2),
       ( 15, 21.58,  3.92, 1, 0, 1, 0, 2),
       ( 16, 10.33,  1.67, 0, 0, 1, 0, 3),
       ( 17, 16.29,  3.71, 1, 0, 1, 0, 3),
       ( 18, 16.97,  3.5 , 0, 0, 1, 0, 3),
       ( 19, 20.65,  3.35, 1, 0, 0, 0, 3),
       ( 20, 17.92,  4.08, 1, 0, 0, 0, 2),
       ( 21, 20.29,  2.75, 0, 0, 0, 0, 2),
       ( 22, 15.77,  2.23, 0, 0, 0, 0, 2),
       ( 23, 39.42,  7.58, 1, 0, 0, 0, 4),
       ( 24, 19.82,  3.18, 1, 0, 0, 0, 2),
       ( 25, 17.81,  2.34, 1, 0, 0, 0, 4),
       ( 26, 13.37,  2.  , 1, 0, 0, 0, 2),
       ( 27, 12.69,  2.  , 1, 0, 0, 0, 2),
       ( 28, 21.7 ,  4.3 , 1, 0, 0, 0, 2),
       ( 29, 19.65,  3.  , 0, 0, 0, 0, 2),
       ( 30,  9.55,  1.45, 1, 0, 0, 0, 2),
       ( 31, 18.35,  2.5 , 1, 0, 0, 0, 4),
       ( 32, 15.06,  3.  , 0, 0, 0, 0, 2),
       ( 33, 20.69,  2.45, 0, 0, 0, 0, 4),
       ( 34, 17.78,  3.27, 1, 0, 0, 0, 2),
       ( 35, 24.06,  3.6 , 1, 0, 0, 0, 3),
       ( 36, 16.31,  2.  , 1, 0, 0, 0, 3),
       ( 37, 16.93,  3.07, 0, 0, 0, 0, 3),
       ( 38, 18.69,  2.31, 1, 0, 0, 0, 3),
       ( 39, 31.27,  5.  , 1, 0, 0, 0, 3),
       ( 40, 16.04,  2.24, 1, 0, 0, 0, 3),
       ( 41, 17.46,  2.54, 1, 0, 1, 0, 2),
       ( 42, 13.94,  3.06, 1, 0, 1, 0, 2),
       ( 43,  9.68,  1.32, 1, 0, 1, 0, 2),
       ( 44, 30.4 ,  5.6 , 1, 0, 1, 0, 4),
       ( 45, 18.29,  3.  , 1, 0, 1, 0, 2),
       ( 46, 22.23,  5.  , 1, 0, 1, 0, 2),
       ( 47, 32.4 ,  6.  , 1, 0, 1, 0, 4),
       ( 48, 28.55,  2.05, 1, 0, 1, 0, 3),
       ( 49, 18.04,  3.  , 1, 0, 1, 0, 2),
       ( 50, 12.54,  2.5 , 1, 0, 1, 0, 2),
       ( 51, 10.29,  2.6 , 0, 0, 1, 0, 2),
       ( 52, 34.81,  5.2 , 0, 0, 1, 0, 4),
       ( 53,  9.94,  1.56, 1, 0, 1, 0, 2),
       ( 54, 25.56,  4.34, 1, 0, 1, 0, 4),
       ( 55, 19.49,  3.51, 1, 0, 1, 0, 2),
       ( 56, 38.01,  3.  , 1, 1, 0, 0, 4),
       ( 57, 26.41,  1.5 , 0, 0, 0, 0, 2),
       ( 58, 11.24,  1.76, 1, 1, 0, 0, 2),
       ( 59, 48.27,  6.73, 1, 0, 0, 0, 4),
       ( 60, 20.29,  3.21, 1, 1, 0, 0, 2),
       ( 61, 13.81,  2.  , 1, 1, 0, 0, 2),
       ( 62, 11.02,  1.98, 1, 1, 0, 0, 2),
       ( 63, 18.29,  3.76, 1, 1, 0, 0, 4),
       ( 64, 17.59,  2.64, 1, 0, 0, 0, 3),
       ( 65, 20.08,  3.15, 1, 0, 0, 0, 3),
       ( 66, 16.45,  2.47, 0, 0, 0, 0, 2),
       ( 67,  3.07,  1.  , 0, 1, 0, 0, 1),
       ( 68, 20.23,  2.01, 1, 0, 0, 0, 2),
       ( 69, 15.01,  2.09, 1, 1, 0, 0, 2),
       ( 70, 12.02,  1.97, 1, 0, 0, 0, 2),
       ( 71, 17.07,  3.  , 0, 0, 0, 0, 3),
       ( 72, 26.86,  3.14, 0, 1, 0, 0, 2),
       ( 73, 25.28,  5.  , 0, 1, 0, 0, 2),
       ( 74, 14.73,  2.2 , 0, 0, 0, 0, 2),
       ( 75, 10.51,  1.25, 1, 0, 0, 0, 2),
       ( 76, 17.92,  3.08, 1, 1, 0, 0, 2),
       ( 77, 27.2 ,  4.  , 1, 0, 2, 1, 4),
       ( 78, 22.76,  3.  , 1, 0, 2, 1, 2),
       ( 79, 17.29,  2.71, 1, 0, 2, 1, 2),
       ( 80, 19.44,  3.  , 1, 1, 2, 1, 2),
       ( 81, 16.66,  3.4 , 1, 0, 2, 1, 2),
       ( 82, 10.07,  1.83, 0, 0, 2, 1, 1),
       ( 83, 32.68,  5.  , 1, 1, 2, 1, 2),
       ( 84, 15.98,  2.03, 1, 0, 2, 1, 2),
       ( 85, 34.83,  5.17, 0, 0, 2, 1, 4),
       ( 86, 13.03,  2.  , 1, 0, 2, 1, 2),
       ( 87, 18.28,  4.  , 1, 0, 2, 1, 2),
       ( 88, 24.71,  5.85, 1, 0, 2, 1, 2),
       ( 89, 21.16,  3.  , 1, 0, 2, 1, 2),
       ( 90, 28.97,  3.  , 1, 1, 3, 0, 2),
       ( 91, 22.49,  3.5 , 1, 0, 3, 0, 2),
       ( 92,  5.75,  1.  , 0, 1, 3, 0, 2),
       ( 93, 16.32,  4.3 , 0, 1, 3, 0, 2),
       ( 94, 22.75,  3.25, 0, 0, 3, 0, 2),
       ( 95, 40.17,  4.73, 1, 1, 3, 0, 4),
       ( 96, 27.28,  4.  , 1, 1, 3, 0, 2),
       ( 97, 12.03,  1.5 , 1, 1, 3, 0, 2),
       ( 98, 21.01,  3.  , 1, 1, 3, 0, 2),
       ( 99, 12.46,  1.5 , 1, 0, 3, 0, 2),
       (100, 11.35,  2.5 , 0, 1, 3, 0, 2),
       (101, 15.38,  3.  , 0, 1, 3, 0, 2),
       (102, 44.3 ,  2.5 , 0, 1, 0, 0, 3),
       (103, 22.42,  3.48, 0, 1, 0, 0, 2),
       (104, 20.92,  4.08, 0, 0, 0, 0, 2),
       (105, 15.36,  1.64, 1, 1, 0, 0, 2),
       (106, 20.49,  4.06, 1, 1, 0, 0, 2),
       (107, 25.21,  4.29, 1, 1, 0, 0, 2),
       (108, 18.24,  3.76, 1, 0, 0, 0, 2),
       (109, 14.31,  4.  , 0, 1, 0, 0, 2),
       (110, 14.  ,  3.  , 1, 0, 0, 0, 2),
       (111,  7.25,  1.  , 0, 0, 0, 0, 1),
       (112, 38.07,  4.  , 1, 0, 1, 0, 3),
       (113, 23.95,  2.55, 1, 0, 1, 0, 2),
       (114, 25.71,  4.  , 0, 0, 1, 0, 3),
       (115, 17.31,  3.5 , 0, 0, 1, 0, 2),
       (116, 29.93,  5.07, 1, 0, 1, 0, 4),
       (117, 10.65,  1.5 , 0, 0, 2, 1, 2),
       (118, 12.43,  1.8 , 0, 0, 2, 1, 2),
       (119, 24.08,  2.92, 0, 0, 2, 1, 4),
       (120, 11.69,  2.31, 1, 0, 2, 1, 2),
       (121, 13.42,  1.68, 0, 0, 2, 1, 2),
       (122, 14.26,  2.5 , 1, 0, 2, 1, 2),
       (123, 15.95,  2.  , 1, 0, 2, 1, 2),
       (124, 12.48,  2.52, 0, 0, 2, 1, 2),
       (125, 29.8 ,  4.2 , 0, 0, 2, 1, 6),
       (126,  8.52,  1.48, 1, 0, 2, 1, 2),
       (127, 14.52,  2.  , 0, 0, 2, 1, 2),
       (128, 11.38,  2.  , 0, 0, 2, 1, 2),
       (129, 22.82,  2.18, 1, 0, 2, 1, 3),
       (130, 19.08,  1.5 , 1, 0, 2, 1, 2),
       (131, 20.27,  2.83, 0, 0, 2, 1, 2),
       (132, 11.17,  1.5 , 0, 0, 2, 1, 2),
       (133, 12.26,  2.  , 0, 0, 2, 1, 2),
       (134, 18.26,  3.25, 0, 0, 2, 1, 2),
       (135,  8.51,  1.25, 0, 0, 2, 1, 2),
       (136, 10.33,  2.  , 0, 0, 2, 1, 2),
       (137, 14.15,  2.  , 0, 0, 2, 1, 2),
       (138, 16.  ,  2.  , 1, 1, 2, 1, 2),
       (139, 13.16,  2.75, 0, 0, 2, 1, 2),
       (140, 17.47,  3.5 , 0, 0, 2, 1, 2),
       (141, 34.3 ,  6.7 , 1, 0, 2, 1, 6),
       (142, 41.19,  5.  , 1, 0, 2, 1, 5),
       (143, 27.05,  5.  , 0, 0, 2, 1, 6),
       (144, 16.43,  2.3 , 0, 0, 2, 1, 2),
       (145,  8.35,  1.5 , 0, 0, 2, 1, 2),
       (146, 18.64,  1.36, 0, 0, 2, 1, 3),
       (147, 11.87,  1.63, 0, 0, 2, 1, 2),
       (148,  9.78,  1.73, 1, 0, 2, 1, 2),
       (149,  7.51,  2.  , 1, 0, 2, 1, 2),
       (150, 14.07,  2.5 , 1, 0, 1, 0, 2),
       (151, 13.13,  2.  , 1, 0, 1, 0, 2),
       (152, 17.26,  2.74, 1, 0, 1, 0, 3),
       (153, 24.55,  2.  , 1, 0, 1, 0, 4),
       (154, 19.77,  2.  , 1, 0, 1, 0, 4),
       (155, 29.85,  5.14, 0, 0, 1, 0, 5),
       (156, 48.17,  5.  , 1, 0, 1, 0, 6),
       (157, 25.  ,  3.75, 0, 0, 1, 0, 4),
       (158, 13.39,  2.61, 0, 0, 1, 0, 2),
       (159, 16.49,  2.  , 1, 0, 1, 0, 4),
       (160, 21.5 ,  3.5 , 1, 0, 1, 0, 4),
       (161, 12.66,  2.5 , 1, 0, 1, 0, 2),
       (162, 16.21,  2.  , 0, 0, 1, 0, 3),
       (163, 13.81,  2.  , 1, 0, 1, 0, 2),
       (164, 17.51,  3.  , 0, 1, 1, 0, 2),
       (165, 24.52,  3.48, 1, 0, 1, 0, 3),
       (166, 20.76,  2.24, 1, 0, 1, 0, 2),
       (167, 31.71,  4.5 , 1, 0, 1, 0, 4),
       (168, 10.59,  1.61, 0, 1, 0, 0, 2),
       (169, 10.63,  2.  , 0, 1, 0, 0, 2),
       (170, 50.81, 10.  , 1, 1, 0, 0, 3),
       (171, 15.81,  3.16, 1, 1, 0, 0, 2),
       (172,  7.25,  5.15, 1, 1, 1, 0, 2),
       (173, 31.85,  3.18, 1, 1, 1, 0, 2),
       (174, 16.82,  4.  , 1, 1, 1, 0, 2),
       (175, 32.9 ,  3.11, 1, 1, 1, 0, 2),
       (176, 17.89,  2.  , 1, 1, 1, 0, 2),
       (177, 14.48,  2.  , 1, 1, 1, 0, 2),
       (178,  9.6 ,  4.  , 0, 1, 1, 0, 2),
       (179, 34.63,  3.55, 1, 1, 1, 0, 2),
       (180, 34.65,  3.68, 1, 1, 1, 0, 4),
       (181, 23.33,  5.65, 1, 1, 1, 0, 2),
       (182, 45.35,  3.5 , 1, 1, 1, 0, 3),
       (183, 23.17,  6.5 , 1, 1, 1, 0, 4),
       (184, 40.55,  3.  , 1, 1, 1, 0, 2),
       (185, 20.69,  5.  , 1, 0, 1, 0, 5),
       (186, 20.9 ,  3.5 , 0, 1, 1, 0, 3),
       (187, 30.46,  2.  , 1, 1, 1, 0, 5),
       (188, 18.15,  3.5 , 0, 1, 1, 0, 3),
       (189, 23.1 ,  4.  , 1, 1, 1, 0, 3),
       (190, 15.69,  1.5 , 1, 1, 1, 0, 2),
       (191, 19.81,  4.19, 0, 1, 2, 1, 2),
       (192, 28.44,  2.56, 1, 1, 2, 1, 2),
       (193, 15.48,  2.02, 1, 1, 2, 1, 2),
       (194, 16.58,  4.  , 1, 1, 2, 1, 2),
       (195,  7.56,  1.44, 1, 0, 2, 1, 2),
       (196, 10.34,  2.  , 1, 1, 2, 1, 2),
       (197, 43.11,  5.  , 0, 1, 2, 1, 4),
       (198, 13.  ,  2.  , 0, 1, 2, 1, 2),
       (199, 13.51,  2.  , 1, 1, 2, 1, 2),
       (200, 18.71,  4.  , 1, 1, 2, 1, 3),
       (201, 12.74,  2.01, 0, 1, 2, 1, 2),
       (202, 13.  ,  2.  , 0, 1, 2, 1, 2),
       (203, 16.4 ,  2.5 , 0, 1, 2, 1, 2),
       (204, 20.53,  4.  , 1, 1, 2, 1, 4),
       (205, 16.47,  3.23, 0, 1, 2, 1, 3),
       (206, 26.59,  3.41, 1, 1, 0, 0, 3),
       (207, 38.73,  3.  , 1, 1, 0, 0, 4),
       (208, 24.27,  2.03, 1, 1, 0, 0, 2),
       (209, 12.76,  2.23, 0, 1, 0, 0, 2),
       (210, 30.06,  2.  , 1, 1, 0, 0, 3),
       (211, 25.89,  5.16, 1, 1, 0, 0, 4),
       (212, 48.33,  9.  , 1, 0, 0, 0, 4),
       (213, 13.27,  2.5 , 0, 1, 0, 0, 2),
       (214, 28.17,  6.5 , 0, 1, 0, 0, 3),
       (215, 12.9 ,  1.1 , 0, 1, 0, 0, 2),
       (216, 28.15,  3.  , 1, 1, 0, 0, 5),
       (217, 11.59,  1.5 , 1, 1, 0, 0, 2),
       (218,  7.74,  1.44, 1, 1, 0, 0, 2),
       (219, 30.14,  3.09, 0, 1, 0, 0, 4),
       (220, 12.16,  2.2 , 1, 1, 3, 1, 2),
       (221, 13.42,  3.48, 0, 1, 3, 1, 2),
       (222,  8.58,  1.92, 1, 1, 3, 1, 1),
       (223, 15.98,  3.  , 0, 0, 3, 1, 3),
       (224, 13.42,  1.58, 1, 1, 3, 1, 2),
       (225, 16.27,  2.5 , 0, 1, 3, 1, 2),
       (226, 10.09,  2.  , 0, 1, 3, 1, 2),
       (227, 20.45,  3.  , 1, 0, 0, 0, 4),
       (228, 13.28,  2.72, 1, 0, 0, 0, 2),
       (229, 22.12,  2.88, 0, 1, 0, 0, 2),
       (230, 24.01,  2.  , 1, 1, 0, 0, 4),
       (231, 15.69,  3.  , 1, 1, 0, 0, 3),
       (232, 11.61,  3.39, 1, 0, 0, 0, 2),
       (233, 10.77,  1.47, 1, 0, 0, 0, 2),
       (234, 15.53,  3.  , 1, 1, 0, 0, 2),
       (235, 10.07,  1.25, 1, 0, 0, 0, 2),
       (236, 12.6 ,  1.  , 1, 1, 0, 0, 2),
       (237, 32.83,  1.17, 1, 1, 0, 0, 2),
       (238, 35.83,  4.67, 0, 0, 0, 0, 3),
       (239, 29.03,  5.92, 1, 0, 0, 0, 3),
       (240, 27.18,  2.  , 0, 1, 0, 0, 2),
       (241, 22.67,  2.  , 1, 1, 0, 0, 2),
       (242, 17.82,  1.75, 1, 0, 0, 0, 2),
       (243, 18.78,  3.  , 0, 0, 2, 0, 2)],
      dtype=[('f0', '<i4'), ('f1', '<f8'), ('f2', '<f8'), ('f3', '<i4'), ('f4', '<i4'), ('f5', '<i4'), ('f6', '<i4'), ('f7', '<i4')])